@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.typography {
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.05em;
text-align: left;
color: #6B7280;
}

.row-text {
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #111827;
}

.row-text-1 {
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #6B7280;
}

