.prmenu{
    display: flex;
    gap: 15px;
}
.pcard:hover{
    background-color: rgba(35, 31, 31, 0.04);
    border-radius: 20px;
}
.pcardimg{
    position: relative;
    text-align: center;
    color: white;
}
.pcardimg .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: black;
    font-size: 12px;
  }
  .Cardonimg{
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }

  /* @media (min-width: 1280px) and (max-width: 1387px) {
    .pcardimg .absolute{
      left: 107px;
    }
  } */